//pagination
.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0;
}

.pagination-right {
  margin-top: 30px;
  margin-right: 20px;
  justify-content: flex-end;
}

.pagination .disabled {
  opacity: 0.25;
}

td:not(:first-child) {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
}

td:first-child {
  padding-left: 0.5rem;
}

th:first-child {
  padding-left: 0.5rem;
}

.css-1s2u09g-control {
  background-color: inherit !important;
  padding: 0.25rem 0.1rem !important;
  border: none !important;

 
}

.multiple-span {
  span{
    &:not(:last-child)::after{
      content: ", ";
      margin-right: 0.2rem;
    }
  }
}

::placeholder {
  color: rgb(202, 195, 195) !important;
}

label {
  text-transform: capitalize;
}

/* For webkit (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  width: 5px; /* Adjust the width to make it thin */
  height: 4px;
}

/* For webkit scrollbar track */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* Track color */
}

/* For webkit scrollbar thumb */
::-webkit-scrollbar-thumb {
  background: #689fd3; /* Thumb color (blue in this example) */
  border-radius: 10px; /* Rounded corners for the thumb */
}

/* For webkit scrollbar thumb on hover */
::-webkit-scrollbar-thumb:hover {
  background: #0056b3; /* Thumb color on hover */
}