/** @format */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.75);
}

.modal_confirm {
  box-sizing: border-box;
  padding: 1rem;
  position: fixed;
  top: 20%;
  width: 600px;
  right: 0;
  left: 0;

  margin: 0 auto;
  background: rgb(255, 255, 255);
  z-index: 100;
  animation: slide-down 300ms ease-out forwards;
}

@media (min-width: 768px) {
  .modal-confirm {
    box-sizing: border-box;
    width: 500px;
    left: calc(50% - 20rem);
  }
}

@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-3rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
